{
  "extends": ["next", "plugin:tailwindcss/recommended", "prettier"],
  "plugins": ["tailwindcss"],
  "rules": {
    "tailwindcss/no-custom-classname": "off"
  },
  "settings": {
    "tailwindcss": {
      "callees": ["clsx"],
      "config": "tailwind.config.js"
    }
  }
}
